@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "node_modules/scroll-carousel/dist/scroll.carousel.min.css";
.digitalcard_container {
  width: 100vw;
  height: 100vh;
  background-color: lightcyan;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
  margin: auto;
  overflow-y: auto;
  position: absolute;

  .card_box {
    position: relative;
    min-width: 35%;
    max-width: 35%;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(#aae0ff, #f8f8f8);

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    //First::after
    .basic_details {
      width: 100%;
      height: auto;
      position: relative;

      .banner_image {
        width: 100%;
        // background: linear-gradient(#d5d5e7, #c6eafa);
        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          // z-index: 400;
          object-position: center;
        }
        .wave {
          // background: linear-gradient(#d5d5e7, #c6eafa);
          transform: rotate(180deg);
          padding-top: 10px;
          z-index: 1;
        }
      }

      .profile_image {
        position: absolute;
        top: 20%;
        right: 5%;

        img {
          z-index: 400;
          width: 100px;
          height: 100px;
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          border: 2px solid white;
        }
      }
      .user_details {
        position: absolute;
        top: 32%;
        left: 3%;

        h3 {
          font-size: 1.2rem;
          font-weight: 600;
          text-transform: uppercase;
        }
        p {
          letter-spacing: 1px;
          font-size: 0.7rem;
          text-indent: 1rem;
        }
      }

      .social_medias {
        position: absolute;
        top: 44%;
        left: 2%;
        display: flex;
        align-items: center;
        width: 100%;
        // justify-content: center;
        gap: 1rem;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          padding: 0%;
          z-index: 200;
          // mix-blend-mode:darken;
          cursor: pointer;
        }
      }
      .profile_summary {
        width: 100%;
        position: relative;
        // padding: 10px;
        color: #555555;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          width: 95%;
          letter-spacing: 1px;
          font-size: 0.8rem;

          line-height: 1.5rem;
        }
      }
    }

    //Second ::after
    .contact_title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      letter-spacing: 1px;
      font-weight: 600;
      position: relative;

      h4 {
        padding: 10px;
      }
      &::before {
        content: "";
        height: 3px;
        background-color: #000;
        width: 45%;
        display: block;
        @media screen and (max-width: 900px) {
          width: 20%;
        }
      }
      &::after {
        content: "";
        height: 3px;
        background-color: #000;
        width: 45%;
        display: block;
        @media screen and (max-width: 900px) {
          width: 20%;
        }
      }
    }
    .contact_details {
      width: 95%;
      margin: auto;
      height: auto;
      // position: relative;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-row-gap: 30px;
      grid-column-gap: 10px;
      padding: 10px;

      .box {
        position: relative;
        padding: 1.5rem 10px;
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0 4px 5px rgba(20, 20, 20, 0.4);
        // backdrop-filter: blur(5.8px);
        // -webkit-backdrop-filter: blur(5.8px);
        border: 1px solid rgba(248, 240, 166, 1);

        .content {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: flex-start;
          justify-content: flex-end;

          h4 {
            font-size: 0.8rem;
            font-weight: 600;
          }
          p {
            font-size: 0.6rem;
            color: gray;
          }
        }
        .icon {
          position: absolute;
          top: -15%;

          img {
            background: #ffffff;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 5px;
          }
        }
        .anime_icon {
          width: 100%;
          overflow-x: hidden;
          position: absolute;
          bottom: -5%;

          .marquee {
            mix-blend-mode: darken;
            img {
              width: 45px;
              height: 45px;
              mix-blend-mode: darken;
              padding: 10px;
              filter: brightness(100%);
            }
          }
        }
      }
      @media screen and (max-width: 900px) {
        width: 100%;
        margin: auto;
        height: auto;
        // position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-row-gap: 30px;
        grid-column-gap: 10px;
        padding: 10px;
      }
    }
    //Third ::after
    .service_title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      letter-spacing: 1px;
      font-weight: 600;
      position: relative;

      h4 {
        padding: 10px;
      }
      &::before {
        content: "";
        height: 3px;
        background-color: #000;
        width: 35%;
        display: block;

        @media screen and (max-width: 900px) {
          width: 20%;
        }
      }
      &::after {
        content: "";
        height: 3px;
        background-color: #000;
        width: 35%;
        display: block;
        @media screen and (max-width: 900px) {
          width: 20%;
        }
      }
    }
    .service_details {
      width: 100%;
      max-height: 860px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-row-gap: 15px;
      grid-column-gap: 10px;
      overflow: scroll;
      padding: 10px 10px;
      margin: auto;

      .service_box {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
        background-color: #ffffff;
        border-radius: 1rem;
        overflow-y: scroll;
        padding: 10px;
        transition: scale 0.4s ease-in;
        .service_pic {
          width: 100%;
          overflow: hidden;
          height: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          object-fit: cover;
          object-position: center;

          img {
            width: 100%;
            height: 100%;
            padding: 15px 5px;
            object-fit: cover;
            object-position: center;
          }
        }
        .service_heading {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 10px 0px;

          h3 {
            letter-spacing: 1px;
            font-size: 0.8rem;
            font-weight: bold;
          }
        }
        .service_content {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin: auto;
          padding: 0px 2px;
          line-height: 1.2rem;
          font-size: 0.7rem;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        &:hover {
          scale: 1.03;
          transition: scale 0.4s ease-in;
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .gallery_title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      letter-spacing: 1px;
      font-weight: 600;
      position: relative;

      h4 {
        padding: 10px;
      }
      &::before {
        content: "";
        height: 3px;
        background-color: #000;
        width: 35%;
        display: block;

        @media screen and (max-width: 900px) {
          width: 20%;
        }
      }
      &::after {
        content: "";
        height: 3px;
        background-color: #000;
        width: 35%;
        display: block;
        @media screen and (max-width: 900px) {
          width: 20%;
        }
      }
    }
    .gallery_details {
      width: 95%;
      margin: auto;

      .my-carousel {
        width: 100%;

        .my-slide {
          width: 100%;
          img {
            width: 400px;
            overflow: hidden;
            height: 200px;
            object-fit: cover;
            object-position: center;

            @media screen and (max-width: 900px) {
            }
          }
        }
      }
    }
    .testimonial_title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      letter-spacing: 1px;
      font-weight: 600;
      position: relative;

      h4 {
        padding: 10px;
      }
      &::before {
        content: "";
        height: 3px;
        background-color: #000;
        width: 20%;
        display: block;

        @media screen and (max-width: 900px) {
          width: 10%;
        }
      }
      &::after {
        content: "";
        height: 3px;
        background-color: #000;
        width: 20%;
        display: block;
        @media screen and (max-width: 900px) {
          width: 10%;
        }
      }
    }
    .testimonial_details {
      width: 98%;
      margin: auto;
      .carousel {
        .slide_1 {
          width: 100%;
          height: 250px;
          padding: 15px 5px;
          background-color: #ffffff;
          border-radius: 1rem;
          box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
            rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        }
        img {
          width: 100px;
          // height: 100px;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
        .name {
          margin: 10px auto;
          letter-spacing: 1px;
          font-weight: bold;
          font-size: 0.9rem;
          color: royalblue;
        }
        small {
          padding: 10px;
          color: grey;
        }
      }
    }
    .product_title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      letter-spacing: 1px;
      font-weight: 600;
      position: relative;

      h4 {
        padding: 10px;
      }
      &::before {
        content: "";
        height: 3px;
        background-color: #000;
        width: 30%;
        display: block;

        @media screen and (max-width: 900px) {
          width: 20%;
        }
      }
      &::after {
        content: "";
        height: 3px;
        background-color: #000;
        width: 30%;
        display: block;
        @media screen and (max-width: 900px) {
          width: 20%;
        }
      }
    }

    .product_details {
      width: 90%;

      gap: 10px;
      padding: 10px;
      margin: auto;
      .each-slide-effect {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
        background-color: #ffffff;
        border-radius: 1rem;
        padding: 10px;
      }
      .each-slide-effect > div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        min-height: 150px;
        border-radius: 1rem;
        height: 200px;
        width: 320px;
        margin: 10px auto;
      }

      .each-slide-effect span {
        letter-spacing: 1px;
        font-weight: 600;
        text-align: center;

        &::after {
          content: "";
          display: block;
          height: 3px;
          background-color: rgb(107, 196, 255);
          width: 100%;
          border-radius: 2px;
        }
      }
      p {
        width: 100%;
        overflow: hidden;
        padding: 5px;
        font-size: 0.8rem;
        text-align: center;
      }
    }
    .feedback_title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      letter-spacing: 1px;
      font-weight: 600;
      position: relative;

      h4 {
        padding: 10px;
      }
      &::before {
        content: "";
        height: 3px;
        background-color: #000;
        width: 30%;
        display: block;

        @media screen and (max-width: 900px) {
          width: 20%;
        }
      }
      &::after {
        content: "";
        height: 3px;
        background-color: #000;
        width: 30%;
        display: block;
        @media screen and (max-width: 900px) {
          width: 20%;
        }
      }
    }
    .feedback_container {
      margin: 1rem auto;

      .feedback_heading {
        padding: 10px;

        h5 {
          color: grey;
          font-weight: 600;
          font-size: 0.8rem;
        }
      }
      form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;

        .form_group {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          position: relative;
          margin: 10px auto;

          input[type="text"] {
            width: 90%;
            padding: 10px 3rem;
            outline: none;
            background: transparent;
            border-bottom: 1px solid gray;
            caret-color: orangered;
            &::placeholder {
              font-size: 0.8rem;
            }
            &:focus {
              border-bottom: 1px solid royalblue;
            }
          }
          img {
            position: absolute;
            top: 5%;
            left: 30px;
            width: 30px;
            height: 30px;
          }
          textarea {
            width: 90%;
            outline: none;
            padding: 10px 3rem;
            // background-color: transparent;
            border: 1px solid gray;
            caret-color: orangered;
            &::placeholder {
              font-size: 0.8rem;
            }
            &:focus {
              border: 1px solid royalblue;
            }
          }
        }
        .form_actions {
          margin: 1rem auto;

          button {
            background-color: royalblue;
            padding: 10px 2rem;
            font-weight: bold;
            letter-spacing: 1px;
            color: #ffffff;
            transition: all 0.4s ease-in;

            &:hover {
              background-color: tomato;
              transition: all 0.4s ease-in;
            }
          }
        }
      }
    }
    .enquiry {
      width: 100%;
      padding: 10px;
      padding-bottom: 2rem;
      border-radius: 10px;
      // border-bottom: 3px solid rgb(158, 157, 160);

      .enquiry_title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        margin: 1rem;
        position: relative;

        img {
          width: 20px;
          height: 20px;
        }
        h4 {
          font-size: 0.9rem;
          font-weight: 600;
          letter-spacing: 1px;
          text-transform: uppercase;
        }

        &::after {
          content: "";
          width: 40%;
          height: 3px;
          background-color: gray;
          position: absolute;
          top: 110%;
          border-radius: 4px;
        }
      }
      .equiry_container {
        margin: 1rem auto;

        .enquiry_heading {
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 14px;

          h5 {
            color: grey;
            font-weight: 600;
            font-size: 0.8rem;
          }
          img {
            width: 25px;
            height: 25px;
          }
        }
        form {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: auto;

          .form_group {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            position: relative;
            margin: 10px auto;

            input {
              width: 90%;
              padding: 10px 3rem;
              outline: none;
              background: transparent;
              border-bottom: 1px solid gray;
              caret-color: orangered;
              &::placeholder {
                font-size: 0.8rem;
              }
              &:focus {
                border-bottom: 1px solid royalblue;
              }
            }
            img {
              position: absolute;
              top: 5%;
              left: 30px;
              width: 30px;
              height: 30px;
            }
            textarea {
              width: 90%;
              outline: none;
              border: 1px solid gray;
              padding: 10px 3rem;
              // background-color: transparent;
              caret-color: orangered;
              &::placeholder {
                font-size: 0.8rem;
              }
              &:focus {
                border: 1px solid royalblue;
              }
            }
          }
          .form_actions {
            margin: 1rem auto;

            button {
              background-color: royalblue;
              padding: 10px 2rem;
              font-weight: bold;
              letter-spacing: 1px;
              color: #ffffff;
              transition: all 0.4s ease-in;

              &:hover {
                background-color: tomato;
                transition: all 0.4s ease-in;
              }
            }
          }
        }
      }
    }
    .copyright {
      width: 100%;
      padding: 10px;
      padding-bottom: 2rem;
      border-radius: 10px;

      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 0.8rem;
        color: grey;
      }
    }
    @media screen and (max-width: 900px) {
      min-width: 40%;
    }
    @media screen and (max-width: 600px) {
      min-width: 100%;
    }
    @media screen and (max-width: 400px) {
      min-width: 95%;
    }
  }

  @media screen and (max-width: 900px) {
    padding: 0px;
  }
}
