.forms_container{
width: 82vw;
height: 100vh;
position: relative;
padding: 1rem 2rem;
// box-shadow: 0px 4px 5px rgba(0,0,0,0.5);


@media screen and (max-width:900px){
    // background-color: aqua;
    min-height: 90vh;
    width: 100vw;
    position: absolute;
    top: 20%;
    left: 0%;

    padding: 1rem 2rem;
// box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
}
}




@media screen and (min-width:900px){
    #Formclose{
        width: 95vw;
        height: 90vhvh;  
    }
}