.forms_container {
  width: 82vw;
  height: 100vh;
  position: relative;
  overflow: auto;
  padding: 0.2rem 2rem;
  // box-shadow: 0px 4px 5px rgba(0,0,0,0.5);

  //Form 1 Basic Details :
  .Form1_container {
    position: absolute;
    left: 0%;
    width: 80%;
    min-height: 90%;
    margin: 10px;
    // background-color: aqua;
    padding: 1rem 0.2rem;

    .Form_title {
      font-weight: bold;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      h4 {
        letter-spacing: 1px;
        font-size: 0.9rem;
      }
      img {
        width: 25px;
      }
    }
    form {
      width: 90%;
      height: 90%;
      background-color: #ffffff;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
      padding: 0.6rem 2rem;
      margin: 1rem auto;
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      //   grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 15px;

      .form_group {
        width: 100%;
        // margin: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        position: relative;

        label {
          width: 80%;
          font-size: 0.7rem;
          color: gray;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          position: relatives;
          //   margin: auto;
          gap: 10px;
          .banner {
            margin: 10px;
            min-width: 250px;
            width: 250px;
            height: 100px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            cursor: pointer;
          }
          .upload {
            position: absolute;
            top: 15%;
            cursor: pointer;
            right: 25%;
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            // mix-blend-mode: multiply;
          }
          .upload_logo {
            position: absolute;
            top: 13%;
            cursor: pointer;
            right: 67%;
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            // mix-blend-mode: multiply;
          }
          .logo {
            min-width: 100px;
            width: 100px;
            object-fit: cover;
            object-position: centers;
            height: 100px;
            border-radius: 13px;
          }
        }

        input[type="file"] {
          display: none;
        }

        input[type="text"],
        textarea {
          width: 95%;
          padding: 8px 1rem;
          outline: none;
          background-color: aliceblue;
          margin: 0.2rem auto;
          border-radius: 5px;
          border: 1px solid rgb(255, 255, 255);
          caret-color: royalblue;
          &::placeholder {
            font-size: 0.7rem;
          }
          &:focus {
            border: 1px solid royalblue;
          }
        }
      }

      .form_submit {
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="submit"] {
          width: 60%;
          outline: none;
          background-color: royalblue;
          padding: 10px 1rem;
          font-weight: 600;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: tomato;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      @media screen and (max-width: 900px) {
        padding: 0.6rem 0.4rem;
        margin: auto;
      }
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      margin: auto;
      padding: 1rem 0.2rem;
    }
  }

  //Form2 contact Details::after
  .Form2_container {
    position: absolute;
    left: 0%;
    width: 80%;
    min-height: 90%;
    margin: 10px;
    // background-color: aqua;
    padding: 1rem 0.2rem;

    .Form_title {
      font-weight: bold;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;

      h4 {
        letter-spacing: 1px;
        font-size: 0.9rem;
      }
      img {
        width: 25px;
      }
    }
    form {
      width: 90%;
      height: 90%;
      background-color: #ffffff;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
      padding: 0.6rem 2rem;
      margin: 1rem auto;
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      //   grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 15px;

      .form_group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5px;
        width: 100%;
        margin: auto;
        padding: 10px;
        position: relative;

        label {
          width: 80%;
          font-size: 0.7rem;
          color: gray;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          position: relative;
          //   margin: auto;
          gap: 10px;
        }
        input {
          width: 95%;
          padding: 8px 1rem;
          outline: none;
          background-color: aliceblue;
          margin: 0.2rem auto;
          border-radius: 5px;
          border: 1px solid rgb(255, 255, 255);
          caret-color: royalblue;
          &::placeholder {
            font-size: 0.7rem;
          }
          &:focus {
            border: 1px solid royalblue;
          }
        }
        textarea {
          width: 95%;
          padding: 8px 1rem;
          outline: none;
          background-color: aliceblue;
          margin-top: 1rem auto;
          border-radius: 5px;
          border: 1px solid rgb(255, 255, 255);
          caret-color: royalblue;
          &::placeholder {
            font-size: 0.7rem;
          }
          &:focus {
            border: 1px solid royalblue;
          }
        }
      }

      .form_submit {
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="submit"] {
          width: 100%;
          display: block !important;
          outline: none;
          background-color: royalblue;
          padding: 10px 1rem;
          font-weight: 600;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: tomato;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      @media screen and (max-width: 900px) {
        padding: 0.6rem 0.4rem;
        padding: 0.6rem 0.4rem;
        margin: auto;
      }
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 1rem 0.2rem;
    }
  }
  //Form3 service Details::after
  .Form3_container {
    position: absolute;
    left: 0%;
    width: 80%;
    min-height: 90%;
    margin: 10px;
    // background-color: aqua;
    padding: 1rem 0.2rem;

    .Form_title {
      font-weight: bold;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      h4 {
        letter-spacing: 1px;
        font-size: 0.9rem;
      }
      img {
        width: 25px;
      }
    }
    form {
      width: 90%;
      height: 70%;
      background-color: #ffffff;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
      padding: 0.6rem 2rem;
      margin: 1rem auto;
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      //   grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 15px;

      .form_group {
        width: 100%;
        // margin: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        position: relative;

        label {
          width: 80%;
          font-size: 0.7rem;
          color: gray;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          position: relative;
          //   margin: auto;
          gap: 10px;
          .serviceImage {
            margin: 10px;
            min-width: 300px;
            width: 300px;
            height: 150px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            cursor: pointer;
          }
          .upload {
            position: absolute;
            top: 15%;
            cursor: pointer;
            right: -6%;
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            // mix-blend-mode: multiply;
          }
        }

        input[type="file"] {
          display: none;
        }

        input,
        textarea {
          width: 95%;
          padding: 8px 1rem;
          outline: none;
          background-color: aliceblue;
          margin: 0.2rem auto;
          border-radius: 5px;
          border: 1px solid rgb(255, 255, 255);
          caret-color: royalblue;
          &::placeholder {
            font-size: 0.7rem;
          }
          &:focus {
            border: 1px solid royalblue;
          }
        }
      }

      .form_submit {
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="submit"] {
          width: 60%;
          outline: none;
          background-color: royalblue;
          padding: 10px 1rem;
          font-weight: 600;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: tomato;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      @media screen and (max-width: 900px) {
        padding: 0.6rem 0.4rem;
        margin: auto;
      }
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 1rem 0.2rem;
    }
  }
  //Form4 product Details::after
  .Form4_container {
    position: absolute;
    left: 0%;
    width: 80%;
    min-height: 90%;
    margin: 10px;
    // background-color: aqua;
    padding: 1rem 0.2rem;

    .Form_title {
      font-weight: bold;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      h4 {
        letter-spacing: 1px;
        font-size: 0.9rem;
      }
      img {
        width: 25px;
      }
    }
    form {
      width: 90%;
      height: 70%;
      background-color: #ffffff;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
      padding: 0.6rem 2rem;
      margin: 1rem auto;
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      //   grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 15px;

      .form_group {
        width: 100%;
        // margin: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        position: relative;

        label {
          width: 80%;
          font-size: 0.7rem;
          color: gray;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          position: relative;
          //   margin: auto;
          gap: 10px;
          .productImage {
            margin: 10px;
            min-width: 300px;
            width: 300px;
            height: 150px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            cursor: pointer;
          }
          .upload {
            position: absolute;
            top: 15%;
            cursor: pointer;
            right: -6%;
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            // mix-blend-mode: multiply;
          }
        }

        input[type="file"] {
          display: none;
        }

        input,
        textarea {
          width: 95%;
          padding: 8px 1rem;
          outline: none;
          background-color: aliceblue;
          margin: 0.2rem auto;
          border-radius: 5px;
          border: 1px solid rgb(255, 255, 255);
          caret-color: royalblue;
          &::placeholder {
            font-size: 0.7rem;
          }
          &:focus {
            border: 1px solid royalblue;
          }
        }
      }

      .form_submit {
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="submit"] {
          width: 60%;
          outline: none;
          background-color: royalblue;
          padding: 10px 1rem;
          font-weight: 600;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: tomato;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      @media screen and (max-width: 900px) {
        padding: 0.6rem 0.4rem;
        margin: auto;
      }
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 1rem 0.2rem;
    }
  }
  //Form5 upload Gallery  Details::after
  .Form5_container {
    position: absolute;
    left: 0%;
    width: 80%;
    min-height: 90%;
    margin: 10px;
    // background-color: aqua;
    padding: 1rem 0.2rem;

    .Form_title {
      font-weight: bold;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      h4 {
        letter-spacing: 1px;
        font-size: 0.9rem;
      }
      img {
        width: 25px;
      }
    }
    form {
      width: 90%;
      height: 70%;
      background-color: #ffffff;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
      padding: 0.6rem 2rem;
      margin: 1rem auto;
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      //   grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 15px;

      .form_group {
        width: 100%;
        // margin: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        position: relative;

        label {
          width: 80%;
          font-size: 0.7rem;
          color: gray;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          position: relative;
          //   margin: auto;
          gap: 10px;
          .galleryImage {
            margin: 10px;
            min-width: 300px;
            width: 300px;
            height: 150px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            cursor: pointer;
          }
          .upload {
            position: absolute;
            top: 15%;
            cursor: pointer;
            right: -6%;
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            // mix-blend-mode: multiply;
          }
        }

        input[type="file"] {
          display: none;
        }

        input,
        textarea {
          width: 95%;
          padding: 8px 1rem;
          outline: none;
          background-color: aliceblue;
          margin: 0.2rem auto;
          border-radius: 5px;
          border: 1px solid rgb(255, 255, 255);
          caret-color: royalblue;
          &::placeholder {
            font-size: 0.7rem;
          }
          &:focus {
            border: 1px solid royalblue;
          }
        }
      }

      .form_submit {
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="submit"] {
          width: 60%;
          outline: none;
          background-color: royalblue;
          padding: 10px 1rem;
          font-weight: 600;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: tomato;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      @media screen and (max-width: 900px) {
        padding: 0.6rem 0.4rem;
        margin: auto;
      }
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 1rem 0.2rem;
    }
  }
  //Form6 upload Video Details::after
  .Form6_container {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 80%;
    min-height: 90%;
    margin: 10px;
    // background-color: aqua;
    padding: 1rem 0.2rem;

    .Form_title {
      font-weight: bold;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      h4 {
        letter-spacing: 1px;
        font-size: 0.9rem;
      }
      img {
        width: 25px;
      }
    }
    form {
      width: 90%;
      height: 70%;
      background-color: #ffffff;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
      padding: 0.6rem 2rem;
      margin: 1rem auto;
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      //   grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 15px;

      .form_group {
        width: 100%;
        // margin: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        position: relative;

        label {
          width: 80%;
          font-size: 0.7rem;
          color: gray;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          position: relative;
          //   margin: auto;
          gap: 10px;
          .galleryImage {
            margin: 10px;
            min-width: 300px;
            height: 150px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            cursor: pointer;
          }
          .upload {
            position: absolute;
            top: 15%;
            cursor: pointer;
            right: -6%;
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            // mix-blend-mode: multiply;
          }
        }

        input[type="file"] {
          display: none;
        }

        input,
        textarea {
          width: 95%;
          padding: 8px 1rem;
          outline: none;
          background-color: aliceblue;
          margin: 0.2rem auto;
          border-radius: 5px;
          border: 1px solid rgb(255, 255, 255);
          caret-color: royalblue;
          &::placeholder {
            font-size: 0.7rem;
          }
          &:focus {
            border: 1px solid royalblue;
          }
        }
      }

      .form_submit {
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="submit"] {
          width: 60%;
          outline: none;
          background-color: royalblue;
          padding: 10px 1rem;
          font-weight: 600;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: tomato;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      @media screen and (max-width: 900px) {
        padding: 0.6rem 0.4rem;
        margin: auto;
      }
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 1rem 0.2rem;
    }
  }
  //Form7 upload social media update Details::after
  .Form7_container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 60%;
    min-height: 90%;
    margin: 10px;
    // background-color: aqua;
    padding: 1rem 0.2rem;

    .Form_title {
      font-weight: bold;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      h4 {
        letter-spacing: 1px;
        font-size: 0.9rem;
      }
      img {
        width: 25px;
      }
    }
    form {
      width: 90%;
      height: 70%;
      background-color: #ffffff;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
      padding: 0.6rem 2rem;
      margin: 1rem auto;
      display: grid;
      overflow: hidden;
      // grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      grid-template-columns: 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 15px;

      .form_group {
        width: 100%;
        // margin: auto;
        display: flex;
        align-items: flex-start;
        // flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        position: relative;

        label {
          // width: 80%;
          font-size: 0.7rem;
          color: gray;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          position: relative;
          //   margin: auto;
          gap: 10px;
        }

        input[type="file"] {
          display: none;
        }

        input {
          width: 100%;
          padding: 8px 1rem;
          outline: none;
          background-color: aliceblue;
          margin: 0.2rem auto;
          border-radius: 5px;
          border: 1px solid rgb(255, 255, 255);
          caret-color: royalblue;
          &::placeholder {
            font-size: 0.7rem;
          }
          &:focus {
            border: 1px solid royalblue;
          }
        }
      }

      .form_submit {
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="submit"] {
          width: 50%;
          outline: none;
          background-color: royalblue;
          padding: 8px 1rem;
          font-weight: 600;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: tomato;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      @media screen and (max-width: 900px) {
        padding: 0.6rem 0.4rem;
        margin: auto;
      }
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 1rem 0.2rem;
    }
  }

  //Form8 service Details::after
  .Form8_container {
    position: absolute;
    left: 0%;
    width: 80%;
    min-height: 90%;
    margin: 10px;
    // background-color: aqua;
    padding: 1rem 0.2rem;

    .Form_title {
      font-weight: bold;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;

      h4 {
        letter-spacing: 1px;
        font-size: 0.9rem;
      }
      img {
        width: 25px;
      }
    }
    form {
      width: 90%;
      height: 70%;
      background-color: #ffffff;
      box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
      padding: 0.6rem 2rem;
      margin: 0.2rem auto;
      display: grid;
      overflow: hidden;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      //   grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 10px;
      grid-column-gap: 15px;

      .form_group {
        width: 100%;
        // margin: auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        position: relative;

        label {
          width: 80%;
          font-size: 0.7rem;
          color: gray;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          position: relative;
          //   margin: auto;
          gap: 10px;
          .testimonialImage {
            margin: 10px;
            min-width: 150px;
            width: 150px;
            height: 150px;
            object-fit: cover;
            object-position: center;
            border-radius: 10px;
            cursor: pointer;
          }
          .upload {
            position: absolute;
            top: 15%;
            cursor: pointer;
            right: 40%;
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            // mix-blend-mode: multiply;
          }
        }

        input[type="file"] {
          display: none;
        }

        input,
        textarea {
          width: 95%;
          padding: 8px 1rem;
          outline: none;
          background-color: aliceblue;
          margin-top: 1rem auto;
          border-radius: 5px;
          border: 1px solid rgb(255, 255, 255);
          caret-color: royalblue;
          &::placeholder {
            font-size: 0.7rem;
          }
          &:focus {
            border: 1px solid royalblue;
          }
        }
      }

      .form_submit {
        display: flex;
        align-items: center;
        justify-content: center;

        input[type="submit"] {
          width: 60%;
          outline: none;
          background-color: royalblue;
          padding: 10px 1rem;
          font-weight: 600;
          color: white;
          cursor: pointer;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: tomato;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      @media screen and (max-width: 900px) {
        padding: 0.6rem 0.4rem;
        margin: auto;
      }
    }

    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 1rem 0.2rem;
    }
  }

  &::-webkit-scrollbar{
    display: none;
  }
  @media screen and (max-width: 900px) {
    // background-color: aqua;
    min-height: 90vh;
    width: 100vw;
    position: absolute;
    top: 20%;
    left: 0%;

    padding: 0.1rem 0.2rem;
    // box-shadow: 0px 4px 5px rgba(0,0,0,0.5);
  }
}

@media screen and (min-width: 900px) {
  #Formclose {
    width: 95vw;
    height: 90vh;
    margin: auto;
  }
}
