.newCard_container {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;

  .card_box {
    min-width: 35%;
    width: 35%;
    min-height: 500vh;
    height: auto;
    background-color: rgb(236, 236, 236);
    .basic_details {
      width: 100%;

      .banner {
        width: 100%;
        img {
          width: 100%;
          max-height: 220px;
          height: 220px;
          border-bottom-right-radius: 40%;
          border-bottom-left-radius: 10%;
          object-fit: cover;
          object-position: center;
        }
      }

      .logo {
        position: relative;
        left: 12%;
        bottom: -80% !important;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        img {
          width: 100px;
          height: 100px;

          padding: 5px;
          object-fit: cover;
          object-position: center;
          background-color: white;
          border-radius: 15px;
          outline: 5px solid white;
          //   border: 3px solid gray;
        }

        .user_detail {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-top: 3rem;

          .author_name {
            h4 {
              letter-spacing: 1px;
              color: brown;
              font-size: 1.5rem;
              font-weight: 500;
            }
          }

          .author_profession {
            h5 {
              letter-spacing: 1px;
              font-size: 0.9rem;
              color: royalblue;
              text-indent: 1rem;
              font-weight: 500;
            }
          }
        }
      }
      .summary {
        position: relative;
        padding: 10px;
        width: 100%;
        line-height: 1.4rem;

        p {
          letter-spacing: 1px;
          font-size: 1rem;
        }
      }
    }
    .contact_session {
      margin: 2rem 0.5rem;

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-row-gap: 2rem;
      grid-column-gap: 1rem;

      .box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        border-radius: 0.7rem;
        box-shadow: 20px 20px 50px rgba(148, 155, 243, 0.5);
        background: rgba(240, 240, 240, 0.445);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(6px);
        padding: 1.2rem 1rem;

        i {
          font-size: 1.5rem;
          color: brown;
        }

        .left {
          h4 {
            font-size: 0.9rem;
            color: brown;

            @media screen and (max-width: 900px) {
              font-size: 0.8rem;
            }
          }
          h5 {
            font-size: 0.7rem;
          }
        }
      }
    }
    .social_media {
      margin: 3rem 0.5rem 1rem 0.5rem;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      a {
        img {
          width: 30px;
          height: 30px;
          border-radius: 1rem;
          cursor: pointer;
          transition: all 0.3s ease-in;
          &:hover {
            scale: 1.08;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
            transition: all 0.3s ease-in;
          }
        }
      }
    }

    .gallery {
      width: 100%;
      padding: 10px 3rem;
      .gallery_title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;

        h4 {
          font-size: 1.5rem;
          color: gray;
          letter-spacing: 1px;
          &::after {
            content: "";
            width: 100%;
            height: 3px;
            margin-top: 4px;
            border-radius: 3px;
            background-color: brown;
            display: block;
          }
        }
      }
      .slide {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
        border-radius: 1rem;
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .product {
      width: 100%;
      margin: 10px auto;
      padding: 10px 1rem;
      .product_title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;

        h4 {
          font-size: 1.5rem;
          color: gray;
          letter-spacing: 1px;
          &::after {
            content: "";
            width: 100%;
            height: 3px;
            margin-top: 4px;
            border-radius: 3px;
            background-color: brown;
            display: block;
          }
        }
      }

      .box {
        width: 230px;
        min-height: 350px;
        height: 350px;
        overflow: auto;
        padding: 10px 1rem;
        border-radius: 1rem;
        border-radius: 0.7rem;
        background-color: white;

        img {
          object-fit: cover;
          width: 100%;
          height: 150px;
          object-position: center;
          overflow: hidden;
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
          border-radius: 1rem;

          @media screen and (max-width: 900px) {
            height: 120px;
          }
          @media screen and (max-width: 700px) {
            height: 100px;
          }
        }

        .title {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;

          h4 {
            font-size: 0.9rem;
            font-weight: 600;
            letter-spacing: 1px;

            @media screen and (max-width: 900px) {
              font-size: 0.8rem;
            }
            @media screen and (max-width: 650px) {
              font-size: 0.7rem;
            }
          }
        }
        .product_summary {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            font-size: 0.7rem;
            letter-spacing: 1px;
            text-align: start;
            line-height: 1.3rem;
          }
        }
        .product_price {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin: 10px auto;

          h5 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60%;
            padding: 5px 0.5rem;
        background-color: antiquewhite;
            color: #3b3b3b;
            border-radius: 1rem;
            letter-spacing: 1px;
            font-size: 0.8rem;
            font-weight: 600;
        

            &:hover {
              background-position: 100% 0;
              moz-transition: all 0.4s ease-in-out;
              -o-transition: all 0.4s ease-in-out;
              -webkit-transition: all 0.4s ease-in-out;
              transition: all 0.4s ease-in-out;
            }

            &:focus {
              outline: none;
            }
          }
        }

        &::-webkit-scrollbar {
          display: none;
        }

        @media screen and (max-width: 900px) {
          width: 200px;
         height: auto;
        }
        @media screen and (max-width: 600px) {
          width: 190px;
      height: auto;
        }
      }

      @media screen and (max-width: 900px) {
        padding: 10px 0.5rem;
      }
    }
    //Service::after
    .service {
      width: 100%;
      padding: 10px 0.5rem;
      margin: 10px auto;
      .service_title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;

        h4 {
          font-size: 1.5rem;
          color: gray;
          letter-spacing: 1px;
          &::after {
            content: "";
            width: 100%;
            height: 3px;
            margin-top: 4px;
            border-radius: 3px;
            background-color: brown;
            display: block;
          }
        }
      }

      .service_slide {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-row-gap: 2rem;
        grid-column-gap: 10px;

        .box {
          // width: 230px;
          height: auto;
          padding: 10px 1rem;
          border-radius: 1rem;
          border-radius: 0.7rem;
         border: 2px solid gray;

          img {
            position: relative;
            left: 40%;
            top: -4%;
            transform: translate(-7% , -40%);
            object-fit: cover;
            width: 35px;
            height: 35px;

            object-position: center;
            overflow: hidden;
            border-radius: 10px;
          }

          .title {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;

            h4 {
              font-size: 0.7rem;
              font-weight: 600;
              letter-spacing: 1px;
              color: royalblue;

              @media screen and (max-width: 900px) {
                font-size: 0.8rem;
              }
            }
          }
          .service_summary {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
              font-size: 0.8rem;
              letter-spacing: 1px;
              text-align: start;
              line-height: 1.3rem;
            }
          }
      

          &::-webkit-scrollbar {
            display: none;
          }

          @media screen and (max-width: 900px) {
            width: 200px;
          
          }
        }

        @media screen and (max-width:900px){
          grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
          grid-row-gap: 2rem;
          grid-column-gap: 15px;
          margin: auto;
        }
      }

      @media screen and (max-width: 900px) {
        padding: 10px 0.5rem;
        margin: auto;
      }
    }
    //Testimonial

    .testimonial{
      // .testimonial_title {
      //   width: 100%;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   padding: 10px;
      //   letter-spacing: 1px;
      //   font-weight: 600;
      //   position: relative;
  
      //   h4 {
      //     padding: 10px;
      //   }
      //   &::before {
      //     content: "";
      //     height: 3px;
      //     background-color: #000;
      //     width: 20%;
      //     display: block;
  
      //     @media screen and (max-width: 900px) {
      //       width: 10%;
      //     }
      //   }
      //   &::after {
      //     content: "";
      //     height: 3px;
      //     background-color: #000;
      //     width: 20%;
      //     display: block;
      //     @media screen and (max-width: 900px) {
      //       width: 10%;
      //     }
      //   }
      // }
      .testimonial_title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;

        h4 {
          font-size: 1.5rem;
          color: gray;
          letter-spacing: 1px;
          &::after {
            content: "";
            width: 100%;
            height: 3px;
            margin-top: 4px;
            border-radius: 3px;
            background-color: brown;
            display: block;
          }
        }
      }
.testimonial_details {
  width: 88%;
  margin: auto;

.slide_1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      height: 250px;
      padding: 15px 0px;
      background-color: #ffffff;
      background-image: url(../../assets//Background/basic_detail.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      border-radius: 1rem;

    }
    img {

      width: 100px;
    
      // height: 100px;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }
    .name {
      margin: 10px auto;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 0.9rem;
      color: royalblue;
    }
    small {
      background-color: #ffffff;
   width: 100%;
   padding: 1rem 1rem;
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 1rem;
   margin: 10px auto;
   text-align: center;
      color: rgb(0, 0, 0);
    }

}
    }
  //Feedback
  .feedback_container {
    margin: 1rem auto;

    .feedback_heading {
      padding: 10px;

      h5 {
        color: grey;
        font-weight: 600;
        font-size: 0.8rem;
      }
    }
    form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: auto;

      .form_group {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        margin: 10px auto;

        input[type="text"] {
          width: 90%;
          padding: 10px 3rem;
          outline: none;
          background: transparent;
          border-bottom: 1px solid gray;
          caret-color: orangered;
          &::placeholder {
            font-size: 0.8rem;
          }
          &:focus {
            border-bottom: 1px solid royalblue;
          }
        }
        img {
          position: absolute;
          top: 5%;
          left: 30px;
          width: 30px;
          height: 30px;
        }
        textarea {
          width: 90%;
          outline: none;
          padding: 10px 3rem;
          // background-color: transparent;
          border: 1px solid gray;
          caret-color: orangered;
          &::placeholder {
            font-size: 0.8rem;
          }
          &:focus {
            border: 1px solid royalblue;
          }
        }
      }
      .form_actions {
        margin: 1rem auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          background-color: royalblue;
          width: 50%;
          height: 50px;
          padding: 8px 1rem;
          font-weight: bold;
          letter-spacing: 1px;
          font-size: 0.9rem;
          border-radius: 5rem;
          color: #ffffff;
          transition: all 0.4s ease-in;

          &:hover {
            background-color: tomato;
            transition: all 0.4s ease-in;
          }
        }
      }
    }
  }
  //Inquire

  .enquiry {
    width: 100%;
    padding: 10px;
    padding-bottom: 2rem;
    border-radius: 10px;
    // border-bottom: 3px solid rgb(158, 157, 160);

    .inquire_title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem auto;

      h4 {
        font-size: 1.5rem;
        color: gray;
        letter-spacing: 1px;
        &::after {
          content: "";
          width: 100%;
          height: 3px;
          margin-top: 4px;
          border-radius: 3px;
          background-color: brown;
          display: block;
        }
      }

     
    }
    .equiry_container {
      margin: 1rem auto;

      .enquiry_heading {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 14px;

        h5 {
          color: grey;
          font-weight: 600;
          font-size: 0.8rem;
        }
        img {
          width: 25px;
          height: 25px;
        }
      }
      form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;

        .form_group {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          position: relative;
          margin: 10px auto;

          input {
            width: 90%;
            padding: 10px 3rem;
            outline: none;
            background: transparent;
            border-bottom: 1px solid gray;
            caret-color: orangered;
            &::placeholder {
              font-size: 0.8rem;
            }
            &:focus {
              border-bottom: 1px solid royalblue;
            }
          }
          img {
            position: absolute;
            top: 5%;
            left: 30px;
            width: 30px;
            height: 30px;
          }
          textarea {
            width: 90%;
            outline: none;
            border: 1px solid gray;
            padding: 10px 3rem;
            // background-color: transparent;
            caret-color: orangered;
            &::placeholder {
              font-size: 0.8rem;
            }
            &:focus {
              border: 1px solid royalblue;
            }
          }
        }
        .form_actions {
          margin: 1rem auto;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
  
          button {
            background-color: royalblue;
            width: 50%;
            height: 50px;
            padding: 8px 1rem;
            font-weight: bold;
            letter-spacing: 1px;
            font-size: 0.9rem;
            border-radius: 5rem;
            color: #ffffff;
            transition: all 0.4s ease-in;
  
            &:hover {
              background-color: tomato;
              transition: all 0.4s ease-in;
            }
          }
        }
      }
    }
 
  }
  .copyright {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    padding-bottom: 2rem;
    border-radius: 10px;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      margin:auto;
      letter-spacing: 1px;
      font-size: 0.8rem;
      font-weight: bold;
      color: grey;
    }
  }
    @media screen and (max-width: 900px) {
      min-width: 80%;
      width: 80%;
      min-height: 100vh;
      height: auto;
    }
    @media screen and (max-width: 700px) {
      min-width: 90%;
      width: 90%;
      min-height: 100vh;
      height: auto;
    }
    @media screen and (max-width: 650px) {
      min-width: 100%;
      width: 100%;
      min-height: 100vh;
      height: auto;
      border: 4px solid white;
      border-radius: 10px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
