*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.profile_container{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../../assets/AddminPannel/dr12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
 
    display: flex;
    // align-items: center;
    // justify-content: center;


}